{
    "extends": [
      "airbnb"
    ],
    "env": {
      "browser": true,
      "node": true,
      "commonjs": true,
      "es6": true,
      "jest": true
    },
    "rules": {
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "react/require-default-props": 0,
      "react/display-name": 0,
      "spaced-comment": 0,
      "import/prefer-default-export": 0,
      "no-console": 0,
      "jsx-a11y/href-no-hash": "off",
      "linebreak-style": 0,
      "jsx-a11y/label-has-for": 0,
      "jsx-a11y/click-events-have-key-events": 0,
      "jsx-a11y/anchor-is-valid": 0,
      "jsx-a11y/label-has-associated-control": 0,
      "react/jsx-one-expression-per-line": 0,
      "no-unused-expressions": ["error", {"allowTernary": true}],
      "import/no-extraneous-dependencies": ["error", {"devDependencies": true}]
    },
    "plugins": [
      "react",
      "jsx-a11y",
      "import"
    ],
    "parser": "babel-eslint",
    "globals": {
      "__globals": true,
      "$": true
    }
  }
